@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Bienvenido";
    ViewBag.IconPage = "home";
    ViewBag.TitlePage = "";
}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Bienvenido</h1>
        <hr class="green">
        <p class="lead">Sistema de Servidores Públicos Sancionados</p>
    </div>
</div>

@section jsaccordion{
    
}